<h1> CSRF </h1>
<h2> Tricks for getting book reserved without waiting on MSPACE ThoughtWorks</h2>

<ol>
  <li> Log on to your mspace first</li>
  <li> Now click <a href="http://mspace.thoughtworks.com/set_location?location=<s>" target="_blank" >here</a></li>
  <li> Now you go ahead and reserve any book, your number will come first. </li>
  <li> Once you done please click <a href="http://mspace.thoughtworks.com/set_location?location=Delhi" target="_blank" >here</a></li>
</ol>
